# ==========================================
# CORE DATA SCIENCE
# ==========================================

numpy>=1.24,<2.0
pandas>=2.0,<3.0
scikit-learn>=1.3
pytest
# ==========================================
# MACHINE LEARNING
# ==========================================
shiboken6>=6.5
pydantic
xgboost>=1.7
hmmlearn>=0.3
arch>=6.0
joblib>=1.3
mkdocs
mkdocs-material
# ==========================================
# TECHNICAL ANALYSIS
# ==========================================

ta>=0.11

# ==========================================
# TRADING / EXCHANGE APIS
# ==========================================

ccxt~=2.9.10
aiohttp>=3.9
websockets>=11.0
oandapyV20>=0.7
stellar-sdk[aiohttp]>=13,<14

# ==========================================
# DATABASE
# ==========================================

SQLAlchemy>=2.0

# ==========================================
# ENVIRONMENT VARIABLES
# ==========================================

python-dotenv>=1.0
keyring>=24.0
cryptography>=42.0
PyJWT>=2.8

# ==========================================
# ASYNC / EVENT SYSTEM
# ==========================================

qasync>=0.26
celery>=5.3

# ==========================================
# VISUALIZATION / GUI
# ==========================================

pyqtgraph>=0.13
pyside6>=6.5
matplotlib>=3.7
SpeechRecognition>=3.10
sounddevice>=0.4

# ==========================================
# REPORT GENERATION
# ==========================================

reportlab>=4.0
coinbase
